.sun-editor .se-btn {
    width: 24px;
    height: 24px;
}

.sun-editor .se-svg, .sun-editor button > svg, .sun-editor span > svg {
    width: 12px;
    height: 12px;
    /*fill: #bbc2cc;*/
}

.sun-editor .se-btn:enabled:active {
    background-color: #3f5fd1;
    border-color: #444ac1;
    box-shadow: inset 0 3px 5px #4c54c1;
}

.sun-editor button .txt {
    font-family: "IranSans";
    font-size: 12px;
    display: block;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sun-editor .se-btn-select .txt {
    flex: auto;
    text-align: right;
}