@font-face {
    font-family: IranSansMedium;
    src: url('./assets/iran-sans/IRANSansWeb_Medium.eot') ;
    src: url('./assets/iran-sans/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/iran-sans/IRANSansWeb_Medium.woff') format('woff'),
    url('./assets/iran-sans/IRANSansWeb_Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: normal;
    src: url('./assets/iran-sans/IRANSansWeb.eot');
    src: url('./assets/iran-sans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('./assets/iran-sans/IRANSansWeb.woff2') format('woff2'),
    url('./assets/iran-sans/IRANSansWeb.woff') format('woff'),
    url('./assets/iran-sans/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: IranSansFaNum;
    src: url('./assets/iran-sans/IRANSansWeb(FaNum).eot') ;
    src: url('./assets/iran-sans/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    url('./assets/iran-sans/IRANSansWeb(FaNum).woff') format('woff'),
    url('./assets/iran-sans/IRANSansWeb(FaNum).ttf') format('truetype');
    font-weight: normal;
}

[contenteditable] {
    outline: 0px solid transparent;
}

html, #root {
    height: 100%;
}

body {
    font-family: IranSansMedium !important;
    font-size: 12px;
    height: 100%;
}


.infinite-scroll-component__outerdiv {
    width: 100%;
    height: 100%;
    overflow: auto;
    align-content: baseline;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 8px;
    background-color: #F5F5F5;
}

@media screen and (max-width: 960px) {
    *::-webkit-scrollbar {
        display: none;
        width: 2px;
        height: 4px;
        background-color: #F5F5F5;
    }
}

.App {
    text-align: center;
}

.text-black {
    color: #282c34;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

input::placeholder {
    font-family: IranSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.71 !important;
    letter-spacing: normal !important;
    text-align: right !important;
    color: #c0c7d0 !important;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.bgSignIn {
    background: #ffffff05;
    background-size: 400% 400%;

    -webkit-animation: AnimationName 20s ease infinite;
    -o-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 96%
    }
    50% {
        background-position: 100% 5%
    }
    100% {
        background-position: 0% 96%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 96%
    }
    50% {
        background-position: 100% 5%
    }
    100% {
        background-position: 0% 96%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 96%
    }
    50% {
        background-position: 100% 5%
    }
    100% {
        background-position: 0% 96%
    }
}
